<div class="sidenav">
    <div class="login-main-text">
        <h2>Application<br> Login Page</h2>
        <p>Login or register from here to access.</p>
    </div>
</div>
<div class="main">
    <div class="col-md-6 col-sm-12">
        <div class="login-form">
            <form (ngSubmit)="loginModel.form.valid && onSubmit()" #loginModel="ngForm">
                <div class="form-group">
                    <label>User Name</label>
                    <input type="text" [(ngModel)]="login.UserName" class="form-control" placeholder="User Name"
                        name="UserName" required #userName="ngModel">

                    <div *ngIf="loginModel.submitted && userName.invalid" class="alert alert-danger">
                        <div *ngIf="userName.errors.required">
                            Username is required.
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input #password="ngModel" name="Password" required [(ngModel)]="login.Password"
                        type="password" class="form-control" id="passwordId" placeholder="Password">

                    <div *ngIf="loginModel.submitted && password.invalid" class="alert alert-danger">
                        <div *ngIf="password.errors.required">
                            password is required.
                        </div>
                    </div>

                </div>
                <button class="btn btn-black">Login</button>
                <!-- <button type="submit" class="btn btn-secondary">Register</button> -->
            </form>
        </div>
    </div>
</div>