<app-navbar></app-navbar>
<div class="page-content page-container" id="page-content">
    <div class="padding">
        <div class="row container d-flex justify-content-center mx-auto">
            <div class="col-lg-12">
                <div class="card px-3">
                    <div class="card-body">
                        <h4 class="card-title">Awesome Todo list</h4>
                        <div class="add-items d-flex"> <input type="text" [(ngModel)]="noteText"
                                class="form-control todo-list-input" placeholder="What do you need to do today?">
                            <button class="add btn btn-primary font-weight-bold todo-list-add-btn"
                                (click)='addNote()'>Add</button> </div>
                        <div class="list-wrapper">
                            <ul class="d-flex flex-column-reverse todo-list">
                                <li *ngFor="let note of notes">
                                    <div class="form-check"> <label class="form-check-label"> {{note.text}} <i
                                                class="input-helper"></i></label>
                                    </div>
                                    <!-- <i class="remove mdi mdi-close-circle-outline"></i> -->
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>